* {
    margin: 0;
    padding: 0;
}

#main-container {
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to bottom, #009cec, #c7fceb);
    display: flex;
    flex-direction: column;
}

.header {
    padding: 1em;
    text-align: center;
    color: #c7fceb
}

.input-container {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    margin: 2em;
    padding: 1em;
    border: solid rgba(255, 255, 255, 0) 1px;
    border-radius: 15px;
    box-shadow: 10px 10px 8px
     8px #c7fceb;
}

.weather-container {
    float: right;
    margin: 2em;
    width: 50vw;
    height: 50vh;
    background-color: #fff;
}

.input-container > * {
    margin: 1em;
}

.forecast-container {
    width: 50vw;
    height: 50vh;
    background-color: antiquewhite;
    margin: 2em;
    border-radius: 15px;
}

input[type='text'] {
    text-align: center;
    padding: 1em;
    border-radius: 12px;
}