* {
    margin: 0;
    padding: 0;
}

#main-container {
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to bottom, #009cec, #c7fceb);
    display: grid;
    grid-template-columns: repeat(1,1fr) repeat(1,3fr) repeat(1, 3fr);
    grid-template-rows: repeat(1,1fr) repeat(1, 1fr) repeat(1, 2fr) repeat(1,3fr);
}

.header {
    padding: 1em;
    text-align: center;
    color: #c7fceb
    
}

.input-container {
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    margin: 2em;
    padding: 1em;
    border: solid rgba(255, 255, 255, 0) 1px;
    border-radius: 15px;
    box-shadow: 1px 1px 19px
     5px #c7fceb;
}

.weather-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 2em;
    background-color: #e7fff7;
    border-radius: 15px;
    padding: 1em;
    box-shadow: 1px 1px 19px
     5px #c7fceb;
}

.forecast-container {
    background-color: #002e6e;
    border-radius: 15px;
    margin: 2em;
    grid-column: 1/4;
    grid-row: 3/5;
    box-shadow: 1px 1px 19px
     5px #c7fceb;
     grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
     justify-items: center;
     align-items: center;
}

.forecast-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 150px;
    background-color: white;
    margin: 1em;
    box-shadow: 1px 1px 11px
     1px #c7fceb;
     border-radius: 15px;
}

.weather-container > * {
    margin: 1em;
}

.weather-container > :nth-child(1) {
    font-size: xx-large;
    font-style: italic;
}

.input-container > * {
    margin: 1em;
}


input[type='text'] {
    text-align: center;
    padding: 1em;
    border-radius: 12px;
}